h1 { color: #3c3c3c;
	 font: 30px "Bauhaus 93";
   }

	p{
		color: black;
		font: 16px "Helvetica";
		margin-left: 10px;
		background-color: #f0f0f0;
	 }
	 
	 ul {
			color: black;
			font: 16px "Helvetica";
			font-weight: bold;
			list-style-type: circle;
			background-color: #f0f0f0;
			}
			
		
		/*@media only screen and (max-width: 500px) 
		jos haluaa ottaa mukaan näytön skaalausta */

    body {
		font: 14px "Helvetica";
		list-style-type: circle;
        background-color: #b4b4b4;
		background-attachment: fixed;
		background-color:hsla(9, 30%, 15%, 0.2);
		padding: 50px;
		}

div {
    background-color: #f0f0f0;
	margin-bottom: 20px;

}
.sidebar-nav {
	font: 16px "Helvetica" Bold;
    margin-top: 20px;
    padding: 10px 5px 5px 5px;
    list-style: none;
	background-color: #b4b4b4;
	border-style: solid;
    border-width: 2px;
	border-radius: 5px;
}

a {
  color: #3c3c3c;
}