extends layout

block content
  h1= title
  p Welcome to #[em Printing Mill] codex!, This is a simple website for tracking online statuses of different 3D printed models and designs.

  h1 Today we have:

  if error
    p Error getting dynamic content.
  else
    p

    ul
      li #[strong Total amount of 3D models:] !{data.model3d_count}
      li #[strong  Available prints:] !{data.model3d_store_count}
      li #[strong  In queue for manufacture:] !{data.model3d_queue_count}
      li #[strong  Design phase:] !{data.model3d_design_count}
      li #[strong  Currently unavailable models:] !{data.model3d_unavailable_count}