extends layout

block content
  h1= title

  ul
  each val in model3d_list
    li 
      a(href=val.url) #{val.model_name} : #{val.material}, #{val.colour}, 
      - 
      if val.status=='In store'
        span.text-success #{val.status}
      else if val.status=='In queue'
        span.text-danger #{val.status}
      else if val.status=='In design'
        span.text-danger #{val.status}
      else
        span.text-warning #{val.status} 

  else
    li There are no 3D models in the database.