extends layout

block content
  h1 #{title}?
  p #[strong #{model3d.model_name}]

    p Do you really want to delete this model?
    
    form(method='POST' action='')
      div.form-group
        input#model3did.form-control(type='hidden',name='model3did', required='true', value=model3d._id )

      button.btn.btn-primary(type='submit') Delete