extends layout

block content

  h1 #{model3d.model_name}
  
  p #[strong ID:] 
    a(href=model3d.url) #{model3d._id}
  p #[strong material:] #{model3d.material}
  p #[strong colour:] #{model3d.colour}

  p #[strong Status:] 
    if model3d.status=='In store'
      span.text-success #{model3d.status}
    else if model3d.status=='In queue'
      span.text-danger #{model3d.status}
    else if model3d.status=='In Design'
      span.text-danger #{model3d.status}
    else
      span.text-warning #{model3d.status}

  hr
  p
    a(href=model3d.url+'/delete') Delete this model
  p
    a(href=model3d.url+'/update') Update model