extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='model_name') Model name:      
      input#model_name.form-control(type='text' placeholder='Model name ' name='model_name' required='true' value=(undefined===model3d ? '' : model3d.model_name) )
      label(for='material') Used material:
      input#material.form-control(type='text' placeholder='Used material' name='material' required='true' value=(undefined===model3d ? '' : model3d.material))
      label(for='material') Used colour:
      input#colour.form-control(type='text' placeholder='Used colour' name='colour' required='true' value=(undefined===model3d ? '' : model3d.colour))  
    div.form-group
      label(for='status') Status:
      select#status.form-control(type='select' placeholder='Select status' name='status' required='true')
        option(value='In store') In store
        option(value='Im queue') In queue
        option(value='In design') In design
        option(value='Unavailable') Unavailable
    
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg